<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.101.11" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.3.102.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess" version="18.3.0" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="18.3.0" targetFramework="net472" />
</packages>